<div class="container">
  <div class="row full-height">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color height-full-percent">
      <div class="banner-show" style="background-image: url('<%=cl_image_path @activity.picture%>')">
      </div>
      <div class="booking-info">
        <div class="booking-activity-name">
          <%= link_to @activity.title, activity_path(@activity.id) %>
        </div>

        <% if @activity.payable == true || @activity.price != 0 %>
            <div class="booking-activity-box">

                <div class="booking-activity">
                <p>Payment Status</p>
              <div class="red-line-box full-width">
                  <div class="red-line"></div>
              </div>
                <div class="booking-info-card">
                    <% if @activity.payable %>
                      <%= @booking.state.capitalize %>
                    <% else %>
                      <% @booking.update({state: "paid"}) %>
                      <%= @booking.state.capitalize %>
                    <% end %>
                </div>
              </div>
              <div class="booking-activity">
                <p>Booking Value</p>
              <div class="red-line-box full-width">
                  <div class="red-line"></div>
              </div>
                <div class="booking-info-card">
                    <%= humanized_money_with_symbol(@booking.amount) %>
                </div>
              </div>

            </div>

        <% else %>
            <div class="booking-activity-box">
                  <div class="booking-activity">
                <p>Payment Status</p>
              <div class="red-line-box full-width">
                  <div class="red-line"></div>
              </div>
                <div class="booking-info-card">
                    FREE
                </div>
              </div>
              <div class="booking-activity">
                <p>Booking Value</p>
              <div class="red-line-box full-width">
                  <div class="red-line"></div>
              </div>
                <div class="booking-info-card">
                    FREE
                </div>
              </div>
            </div>
        <% end %>

      </div>
       <div class="col-xs-4 buttons-container">

        <% if @booking.state == "paid" %>
            <% if @booking.review == nil %>
                <button class="back-button passive-button half-width height-full-percent" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
                <%= link_to 'Review', new_booking_review_path(@booking), class: 'next-button cta-button half-width height-full-percent'%>
            <% else %>
                <button class="back-button passive-button full-width height-full-percent" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
            <% end %>

        <% else %>

            <% if @activity.payable %>
                <button class="back-button passive-button half-width height-full-percent" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
                <%= form_tag new_booking_payment_path(@booking), html: { style: "height: 100%; margin: 0px; display: flex; justify-content: center; padding: 0px;"}, class:"half-width", method: :get do %>
                    <%= submit_tag 'Purchase', class: 'next-button cta-button full-width height-full-percent' %>
                <% end %>

            <% else %>

                <button class="back-button passive-button full-width height-full-percent" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
            <% end %>

        <% end %>
      </div>
  </div>
</div>

<script>
  function goBack() {
    window.history.back();
}
</script>
