<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">



    <h1>Booking</h1>
    <ul>
      <li>Status: <%= @booking.state %></li>
      <li>Item: <%= @activity.title %></li>
      <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li>
    </ul>

    <% if @activity.payable %>
      <%= form_tag new_booking_payment_path(@booking), method: :get do %>

        <%#= hidden_field_tag 'booking_id', @booking.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>

      <% else  %>
        <%= link_to 'Done', activity_path(@activity), class: 'btn btn-large btn-primary'%>
      <% end %>
  </div>
  </div>
</div>
