<%#=@user.all_following %>
<div class="container">
  <div class="row full-height">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color height-full-percent">
      <div class="full-container overflow-scroll">
        <div class="follow-user-name">
          <p><%= "You are following" %></p>
        </div>
        <div class="red-line-box full-width">
          <div class="red-line"></div>
        </div>
        <% if @user.all_following.count == 0 %>
          <div class="no-followers-info">
            <p>Not following anyone</p>
            <%="No followers yet!" %>
          </div>
        <% else %>
          <% @user.all_following.each do |following| %>
              <div class="user-follow-profile">

                <div class="top-box">
                      <div class="follow-avatar-container ">
                        <%= cl_image_tag(following.picture, class:"avatar-large") %>
                      </div>
                      <div class="rating-box">
                            <div class="follow-rating">
                                <% sum_rating = 0 %>
                                <% counter = 0 %>
                                <% following.activities.each do |activity|%>
                                    <% @activity = activity %>
                                    <% rating = activity.reviews_average%>
                                    <% sum_rating += rating %>
                                    <% counter += 1 %>
                                <% end %>
                                <i class="far fa-star mini-star"></i>
                                <%= (sum_rating / counter).round(1) %>
                            </div>
                      </div>
                      <div class="follow-first-name-container">
                        <%= link_to following.first_name, user_path(following)%>
                      </div>
                </div>

                <div class="follow-bio-container">
                  <%= following.bio%>
                </div>
                <!-- <div class="follow-activities-container">
                  <p class="owned-activities-title">Owner of the activities:</p>
                  <div class="owned-activities-list">
                      <ul>
                          <% following.activities.each do |activity| %>
                              <li><%= activity.title %></li>
                          <% end %>
                      </ul>
                  </div>
                </div> -->
              </div>
          <% end %>
        <% end %>

        </div>
      <div class="col-xs-4 buttons-container">
          <button class="back-button passive-button full-width" onclick="goBack()"><i class="fas fa-caret-left"></i>GO BACK</button>
      </div>
  </div>
  </div>
 </div>


<script>

  function goBack() {
    window.history.back();
  }

  function goForward() {
    window.history.forward()
  }
</script>
