<div class="card-box">
  <%= link_to activity_path(activity) do %>
    <div class="card-link"></div>
  <% end %>
  <div class="card-picture" style="background-image: url('<%=cl_image_path activity.picture%>')">
  </div>
  <div class="card-content">
    <div class="card-top">
      <div class="card-title">
        <%= h truncate(activity.title, :length => 40) %>
      </div>
      <div class="card-category">
        <%= activity.category.name %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-distance">
        <% distance = Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [activity.latitude,activity.longitude]) %>
        <% if distance > 1 %>
        <%= distance.round(1) %>km
        <% else %>
        <%= (distance * 100).round %> meters
        <% end %>
      </div>
      <div class="card-details">
          <div class="rating">
              <% if activity.reviews_average.round(1) == 0 %>
                  <%= "N/A" %>
              <% else %>
                  <i class="far fa-star"></i>
                  <%=activity.reviews_average.round(1) %>
              <% end %>
          </div>
        <div class="price">
          <%= humanized_money_with_symbol(activity.price) %>
        </div>
        <div class="time">
          <i class="fas fa-clock"></i>
          <%=activity.duration%>m
        </div>
      </div>
    </div>
  </div>
</div>
