<div class="card-box" data-duration="<%=activity.duration%>">
  <%= link_to activity_booking_path(activity.id, booking.id) do %>
    <div class="card-link"></div>
  <% end %>
  <div class="card-picture" style="background-image: url('<%=cl_image_path activity.picture%>')">
  </div>
  <div class="card-content">
    <div class="card-top">
      <div class="card-title">
        <%= h truncate(activity.title, :length => 45) %>
      </div>
      <div class="card-category">
        <%= activity.category.name %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-distance">
        <% d = DateTime.parse(booking.created_at.to_s) %>
        <%=d.day%>/<%= d.month %>/<%= d.year %> - <%= d.hour %>: <%= d.minute %>
      </div>
      <div class="myact-card-details">
          <div class="review-state">
              <% if booking.review == nil %>
                 To Review
              <% else %>
                Reviewed
              <% end %>
          </div>
        <% if booking.state == "paid" %>
          <div class="booking-state green">
              <%= booking.state %>
          </div>
        <% else %>
          <div class="booking-state red">
              <%= booking.state %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
