<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="container-flow">
  <div class="banner" style="background-image:  linear-gradient(-225deg, rgba(255,255,0,0.9) 0%, rgba(255,0,0,0.9) 50%), url('<%= image_path "banner.jpg" %>');">
        <div>
          <div class="logo-margin">
            <%= image_tag "logo_red.png", height: 80 %>
          </div>
          <h1>primetime</h1>
          <p>enjoy yours, every day</p>
          <%= link_to 'I WANT IT', root_url + "filters", id: "cta", class: "landing-cta"%>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color height-full-percentage">
<!-- <div class="container-index">
  <div class="row"> -->
      <div class="full-container container-start">
          <div class="landing-h1">
            <p>WHAT IS PRIMETIME</p>
            <h1>Primetime is a community driven web app with a clear mission: Help you find the best activities, curated by a network of time effective people just like you</h1>
            <%=image_tag("iphone6_silver_portrait (1).png", class:"landing-mockup")%>
          </div>
          <div class="value-proposition-container">
            <div class="landing-title">
               <h2>MAKE TIME FOR THE THINGS YOU VALUE</h2>
            </div>
            <div class="value-proposition-box">
              <div class="value-proposition-icon">
                <%=image_tag("noun_1774935_cc")%>
              </div>
              <div class="value-proposition-title">
                <h3>Discover around you</h3>
              </div>
              <div class="value-proposition-bullet">
                <h4>There's plenty out there to make your day better. Tons of experiences are waiting for you, right at your doorstep.</h4>
              </div>
            </div>
            <div class="value-proposition-box">
              <div class="value-proposition-icon">
                <%=image_tag("noun_1772870_cc")%>
              </div>
              <div class="value-proposition-title">
                <h3>Belong to a community</h3>
              </div>
              <div class="value-proposition-bullet">
                <h4>Contribute to the community with your own suggestions, follow, rate and review. Be part of making it grow.</h4>
              </div>
            </div>
            <div class="value-proposition-box">
              <div class="value-proposition-icon">
                <%=image_tag("noun_1624078_cc")%>
              </div>
              <div class="value-proposition-title">
                <h3>Not your usual suspect</h3>
              </div>
              <div class="value-proposition-bullet">
                <h4>Not like other apps out there. Brings time focus and a tailored approach to activity suggestions</h4>
              </div>
            </div>
          </div>

          <div class="testimonials-container">
            <div class="testimonials-title">
              <h2>WHAT OTHERS THINK OF IT</h2>
            </div>
            <div class="testimonials-box">
              <div class="testimonial-icon">
                <img class="avatar-large avatar-testimonial" src="https://res.cloudinary.com/pmarzagao/image/upload/v1528727610/bghqlddvjzu4jdq0rokv.jpg">
              </div>
              <div class="testimonial-bullet">
                <blockquote>"I am always trying to make the best of my time and feel that each day deserves some time devoted to make things with meaning. Other apps present a laundry list of events to do, but no way to filter by the time I had available to do them. This is such a time saver."</blockquote>
              </div>
              <div class="testimonial-signature">
                <cite>Andreia, Lisbon</cite>
              </div>
            </div>
            <div class="testimonials-box">
              <div class="testimonial-icon">
                <img class="avatar-large avatar-testimonial" src="https://res.cloudinary.com/pmarzagao/image/upload/v1527684917/image_2.png">
              </div>
              <div class="testimonial-bullet">
                <blockquote>With time, you also feel you would like to share some of the activities that you love with the community, and it is very easy to do so. You also begin noticing the best curators of actitivities and easily follow them. I feel part of a community of like-minded people.</blockquote>
              </div>
              <div class="testimonial-signature">
                <cite>Jerôme, Brussels</cite>
              </div>
            </div>
            <div class="testimonials-box">
              <div class="testimonial-icon">
                <img class="avatar-large avatar-testimonial" src="https://res.cloudinary.com/pmarzagao/image/upload/v1528819825/hs3lp5u4bejcd2fzxx4b.jpg">
              </div>
              <div class="testimonial-bullet">
                <blockquote>It is really amazing that you get to book the activities and pay some of them through the platform. That way I don't have to worry about having cash available when I get to the place. One less concern when enjoying my activity.</blockquote>
              </div>
              <div class="testimonial-signature">
                <cite>Pedro, Lisbon</cite>
              </div>
            </div>
          </div>
      </div>
      <div class="credits">
        <div class="developed-by">

        </div>
      </div>
    </div>
  </div>

