<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="container-flow">
  <div class="banner" style="background-image:  linear-gradient(-225deg, rgba(255,255,0,0.9) 0%, rgba(255,0,0,0.9) 50%), url('<%= image_path "banner.jpg" %>');">
<!--   <div class="banner" style="background-image:  linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(0,36,61,0.9) 50%), url('<%= image_path "banner.jpg" %>');"> -->
   <!--  <div class="banner" style="background-image:  linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(58,43,73,0.95) 50%), url('<%= image_path "banner.jpg" %>');">
 -->

        <div>
          <div class="logo-margin">
            <%= image_tag "logo_red.png", height: 80 %>
          </div>
          <h1>primetime</h1>
          <p>enjoy yours, everyday</p>
          <%= link_to 'I want it', root_url + "filters", class: "btn btn-danger btn-lg"%>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color full-height">
<!-- <div class="container-index">
  <div class="row"> -->
      <div class="full-container container-start">
          <h1 class="landing-value-prop-main-title">primetime helps you make time for the things you value</h1>

        <div id="first-element-value-prop" class="logo-margin">
            <%= image_tag "logo_red.png", height: 30 %>
        </div>
        <h2 class="landing-value-prop-title">Make time for things that energize you every day</h2>
          <p class="landing-value-prop-paragraph">Sometimes it is not easy to make time to make each day a bit special, by doing something, no matter how little, of the things we love. Primetime helps you rememeber to do that little something everyday.</p>
        <div class="logo-margin">
            <%= image_tag "logo_red.png", height: 30 %>
          </div>
        <h2 class="landing-value-prop-title">Discover the best activities to make your day</h2>
          <p class="landing-value-prop-paragraph">Primetime allows you to make the most of the free time you have, helping you find the best activities, curated by a network of time effective people just like you</p>
        <div class="logo-margin">
            <%= image_tag "logo_red.png", height: 30 %>
          </div>
        <h2 class="landing-value-prop-title">Belong to a community of people that value time as much as you do</h2>
          <p class="landing-value-prop-paragraph">Primetime allows you to follow people that want to spend their free time as wisely as you do. You can also give back to the community by sharing your activities. And yes, you can always share with your friends what you are about to do </p>
      </div>
    </div>
  </div>
</div>
