
<%= cl_image_tag @activity.picture, height: 300, width: 400, crop: :fill %>

<h1><%= @activity.title %></h1>

<p> Description: <%= @activity.description %></p>
<p> Duration: <%= @activity.duration %></p>
<p> Category: <%= @category %></p>

<div id="map" style="width: 100%; height: 50vh;"data-markers="<%= @marker.to_json %>"></div>
