<% content_for :head do %>
    <!-- Open Graph tags -->
    <meta property="og:title" content="<%= @activity.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= activity_url(@activity) %>" />
    <meta property="og:description" content="<%= @activity.description %>" />
      <meta property="og:image" content="<%=cl_image_path @activity.picture%>" />
    <meta property="fb:app_id" content="12345678" />
    <!-- Twitter card property -->
    <meta name="twitter:card" content="<%= @activity.title %>">
    <meta name="twitter:site" content="@mytwitter">
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding">
      <div class="banner-show" style="background-image: url('<%=cl_image_path @activity.picture%>')">
      </div>
      <div class="box-icons">
        <div class="box-icons-left">
          <%= cl_image_tag @activity.user.picture, class: "avatar-large"%>

        <div class="box-icon save-icon">
          <i class="fas fa-save icon-style"></i>
        </div>

        <div class="box-icon share-icon">
         <a href="https://www.facebook.com/sharer/sharer.php?u=<%= activity_url(@activity) %>">
            <i class="fas fa-share-alt icon-style"></i>
         </a>

        </div>

        </div>
        <div class ="box-icon-right">
          <div id="map-button" class="box-icon map-icon">
            <i class="far fa-map icon-style fa-lg"></i>
          </div>

        </div>
      </div>

      <div class="card-bottom">
        <div class="card-details">
          <div class="rating">
            4.3
          </div>
          <div class="price">
            <i class="fas fa-wallet"></i>
            <%=@activity.price/10%>€
          </div>
          <div class="time">
            <i class="fas fa-clock"></i>
            <%=@activity.duration%>m
          </div>
        </div>
      </div>
        <div class="activity-details">
          <div class="activity-title">
            <%= @activity.title %>
          </div>
          <div class="activity-category">
            <%= @activity.category.name %>
          </div>
          <div class="activity-description">
            <%= @activity.description %>
          </div>
        </div>
      <div class="col-xs-4 buttons-container">
        <button class="back-button passive-button" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
        <button class="next-button cta-button">Let's Go!<i class="fas fa-caret-right"></i></button>
      </div>
    </div>
  </div>

</div>



<script>
function goBack() {
    window.history.back();
}

function goForward() {
    window.history.forward()
}

// function mapShow() {
//     var x = document.getElementById('map')
//     if (x.class = "map-start") {
//         x.classList.remove("map-start")
//         x.classList.add("map-end")
//     } else {
//         x.classList.remove("map-end")
//          x.classList.add("map-start")
//     }
//   }

</script>

<%= content_for :after_js do %>
    <script>
    window.app.display_map()
    window.app.hide_map()
    </script>
<% end %>

<%= content_for :after_panel do %>
    <div id="activity-map" class="map-start">
          <div id="map" data-markers="<%= @marker.to_json %>"></div>
    </div>
    <div class ="close-box">
      <div id="map-close" class="box-icon map-icon close-button map-start">
        <i class="far fa-map icon-white fa-lg"></i>
      </div>
    </div>
<% end %>



